# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
dist/
dist-ssr/

# Variables d'environnement
.env
.env.*

# Dossier de configuration privé
config/

# Logs
logs/
*.log

# Éditeurs
.vscode/
.idea/

# Système
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln